a {
	color: #268bd2;
	text-decoration: none; }

a:hover{
	background-color: #268bd2;
	color: #FDF6E3; }

body {
	background-color: #FDF6E3;
	color: #657b83;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14pt;
	text-align: center; }
	
h1 {
	color: #268bd2;
	font-size: 32pt;}

nav {
	border: 0px solid;
	border-radius: 10px;
	margin: 10% auto;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 50%; }

ul {
	list-style-type: none; 
	padding: 0px;
	margin: 0px; }

li {
	padding-bottom: 10px;
	position: relative;
	display: inline-block;
	font-size: 12pt; }

li > a {
	display: inline-block;
	background-color: #C3BBA1;
	min-width: 100px;
	text-decoration: none;
	padding: 15px 5px;
	transition: all .2s; }

li:hover > a {
	border: none;
	background-color: #268bd2;
	color: #FDF6E3; }

li > ul {
	position: absolute;
	box-sizing: border-box;
	color: #FDF6E3;
	background-color: #C3BBA1;
	overflow: hidden;
	width: 100%;
	max-height: 0;
	border: 0 solid #2aa198;
	transition: all .5s;
	z-index: 10; }

li:hover > ul {
	max-height: 500px;
	border: 0px solid black;
	transition: max-height 1s, border 1s; }

li > ul > li {
	display: block; }

.aa{
	background: url("images/aa.png");
	background-position: center;
	background-color: #dcd6c6;
	background-size: contain;
	background-repeat: no-repeat; }
