a {
    text-decoration:none;
    color: #DCC58F; }

body {
	background-color: #110907;
	font-family: "Arial";
	font-size: 14pt;
	text-align: center; }
	
h1 {
	color: #8c5b3e;
	font-size: 32pt;}

nav {
	margin: 10% auto;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 50%; }

ul {
	list-style-type: none; 
	padding: 0px;
	margin: 0px; }

li {
    padding-bottom: 1px;
    padding-top: 1px;
    position: relative;
    display: inline-block;
	font-size: 12pt; }

li > a {
	display: inline-block;
	background-color: #181512;
	min-width: 100px;
	text-decoration: none;
	padding: 15px 5px;
	transition: all .2s; }

li:hover > a {
	border: none;
	background-color: #A6594A;
	color: #DCC58F; }

li > ul {
    position: absolute;
    box-sizing: 50px border-box;
	background-color: #181512;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    border: 0 solid #2aa198;
    transition: all .5s;
    z-index: 10; }

li:hover > ul {
	max-height: 500px;
	transition: max-height 1s;}

li > ul > li {
	display: block; }

.aa{
    background-color: #dcd6c6; }
